body {
    margin: 0px;
    background-color: black;
    height: 100%;
}
video {
    width: 100%;
    height: 100%;
}

#container {
    display: flex;
    width: 100%;
    height: 100%;
}
#container > #menu {
    order: 0;
    display: inline-block;
    flex: 0 1 48px;
}
#container > *[id^=window-player] {
    order: 1;
    display: inline-block;
    flex: 1 1;
}
#container > #chat {
    order: 2;
    flex: 0 1 300px;
    position: relative;
    transition: flex-basis 1s, opacity 0.5s;
}
#container > #chat #closechat {
    background-color: rgb(90,0,0);
    color: rgba(255,255,255,1.0);
    font-weight: bold;
    text-align: center;
    font-size: small;
    cursor: pointer;
    margin-bottom: 5px;
    position: absolute;
    width: 16px;
    left: -16px;
    /*opacity: 0.3;*/
}
#container > #chat #closechat:hover {
    padding: 6px;
    font-size: x-large;
    left: -44px;
    max-width:32px;
    width: 32px;
}
#container > #chat.closed {
    flex-basis: 0px;
}
#container > #chat iframe {
    height: 100%;
    width: 100%;
    border: none;
}
#openGuide {
    position: absolute;
    height: 20px;
    z-index: 1;
    color: rgba(255,255,255,0.3);
}
#openGuide:hover {
    color: rgba(255,255,255,0.8);
}

/* RTV Guide */
#rtvGuide {
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /*padding: 2%;*/
    color: #fff;
    background-color: rgba(0,0,0,0.85);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#rtvGuideSub { position: relative; overflow-y: auto; height: 100%; }
/*#rtvGuideSub:hover { overflow-y: auto; }*/
#rtvChannels { width: 200px; /*padding: 3px;*/ }
#rtvChannels, #rtvShows { display: inline-block; vertical-align: top; }
.channel, #rtvShows > .row { height: 50px; }
.channel:hover:not(:first-child) {
    background: rgba(255,255,255,0.3)
}
.currentStream {
    background: rgba(255,255,255,0.2)
}
#rtvShows {
    position: absolute;
    right: 0px;
    left: 200px;
    overflow-x: auto;
    white-space: nowrap;
}
/*#rtvShows:hover { overflow-x: auto; }*/
#rtvShows > .row { }
#rtvShows > .sparksLinerHigh {
    position: absolute;
    top: 0px;
    width: 2px;
    background: rgba(0,255,0,0.3);
    height: 100%;
    z-index: -1;
}
.show {
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(255,255,255,0.3);
    overflow: hidden;
    padding: 1px 2px;
    white-space: normal;
    word-break: break-all;
    text-overflow: ellipsis;
}
/*.show:first-child { border-left: 5px solid green; }*/
.row.marker .show:last-child, .show.playlistEnd:last-child { border-right: 3px solid red; }
.show.abruptStart { border-left-style: dashed; }
.show.gap {
    visibility: hidden;
    border-color: rgba(0,0,0,0);
    padding: 0px;
    border: 0px;
}
/* RTV Guide - Time Markers */
.channel.marker, .row.marker { height: 25px !important; }
.row.marker .show { border-top: none !important; }
/* RTV Guide - Header */
.pointer { cursor: pointer; }
.guideHead {
    border-bottom: 1px solid rgba(255,255,255,0.3);
    background-color: rgba(255,255,255,0.1);
}
.guideHead span {
    display: inline-block;
    padding: 6px 10px;
    border-right: 1px solid rgba(255,255,255,0.3);
}
.guideHead span:hover {
    background-color: rgba(255,255,255,0.3);
}

/* RTV Guide - Channel Customizer */
#customizeChannels { width: 100%; }
#customizeChannels table { width: 100%; }
#customizeChannels tr.header {
    text-align: center;
    font-weight: bold;
}
#customizeChannels td {
    vertical-align: top;
}
#customizeChannels select#chanAvail, #customizeChannels select#chanYours {
    width: 100%;
    min-width: 20%;
    max-width: 100%;
    height: 150px;
}

.dialog-customizePlaylists .ui-dialog-buttonset {
    width: 100%;
    text-align: right;
}

.dialog-customizePlaylists .ui-dialog-buttonset button.customPlaylists {
    float: left;
}

table#customsManager {
    width: 100%;
}
#customsManager .customsSelect {
    width: 15%;
}

#customsManager select, #customsManager textarea {
    width: 100%;
    height: 100%;
}

p.depress {
    background-color: #dedede;
    border-radius: 4px;
    margin: initial 0px;
    padding: 5px;
    font-size: small;
}