body {
    margin: 0px;
    background-color: black;
}
video {
    width: 100%;
    height: 100%;
}
*[id^=window-player] {
    display:inline-block;
    width:100%;
    height:100%;
}

#head {
    /*background-color: rgba(0,0,127,0.55);*/
    /*padding: 7px 5px;*/   
    position: absolute;
    opacity: 0.2;
    height: 20px;
    z-index: 1;
}
#head * { height:100%; }

#head:hover {
    opacity: 1;
}
#container {}


/* RTV Guide */
#rtvGuide { width: 100%; /*height: 100%;*/ position:relative; color: #fff; }
#rtvChannels { width: 200px; }
#rtvChannels, #rtvShows { display:inline-block; vertical-align:top; }
.channel, #rtvShows > .row { height: 50px; }
#rtvShows {
    position: absolute;
    right: 0px;
    left: 200px;
    overflow-x: auto;
    white-space: nowrap;
}
#rtvShows > .row { }
.show {
    display: inline-block;
    height: 100%;
    /*background-color: blue;*/
    box-sizing: border-box;
    border: 2px inset white;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}
.show.gap {
    visibility:hidden;
    border:none;
}