body {
    margin: 0px;
    background-color: black;
}
video {
    width: 100%;
    height: 100%;
}
*[id^=window-player] {
    display:inline-block;
    width:100%;
    height:100%;
}

#head {
    /*background-color: rgba(0,0,127,0.55);*/
    /*padding: 7px 5px;*/
    position: absolute;
    opacity: 0.2;
    height: 20px;
    z-index: 1;
}
#head * { height:100%; margin-right:5px;}
#head .pointer { color:#fff; }

#head:hover {
    opacity: 1;
}
#container {}


/* RTV Guide */
#rtvGuide {
    z-index:1;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    padding:2%;
    color: #fff;
    background-color:rgba(0,0,0,0.85);
}
#rtvGuideSub { position: relative; overflow-y: auto; height: 100%; }
/*#rtvGuideSub:hover { overflow-y: auto; }*/
#rtvChannels { width: 200px; padding:3px; }
#rtvChannels, #rtvShows { display:inline-block; vertical-align:top; }
.channel, #rtvShows > .row { height: 50px; }
.channel:hover {
    background: linear-gradient(to right, rgba(127,127,127,0.8), rgba(0,0,0,0) 50%);
}
.currentStream {
    background: linear-gradient(to right, rgba(63,63,63,0.5), rgba(0,0,0,0) 50%);
}
#rtvShows {
    position: absolute;
    right: 0px;
    left: 200px;
    overflow-x: auto;
    white-space: nowrap;
}
/*#rtvShows:hover { overflow-x: auto; }*/
#rtvShows > .row { }
#rtvShows > .sparksLinerHigh {
    position: absolute;
    top: 0px;
    width: 2px;
    background: rgba(0,255,0,0.2);
    height: 100%;
    z-index: -1;
}
.show {
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    border:1px solid rgba(255,255,255,0.3);
    overflow: hidden;
    padding: 1px 2px;
    white-space: normal;
    word-break: break-all;
    text-overflow: ellipsis;
}
/*.show:first-child { border-left:5px solid green; }*/
.row.marker .show:last-child, .show.playlistEnd:last-child { border-right:5px solid red; }
.show.abruptStart { border-left-style: dashed; }
.show.gap {
    visibility:hidden;
    border-color: rgba(0,0,0,0);
    padding:0px;
    border:0px;
}
/* RTV Guide - Time Markers */
.channel.marker, .row.marker { height: 25px !important; }
.row.marker .show { border-top: none !important; }
/* RTV Guide - Header */
.pointer { cursor:pointer; }
.guideHead span { margin-right:10px; }

/* RTV Guide - Channel Customizer */
#customizeChannels { width:100%; }
#customizeChannels table { width:100%; }
#customizeChannels tr.header {
    text-align: center;
    font-weight: bold;
}
#customizeChannels td {
    vertical-align:top;
}
#customizeChannels select {
    width:100%;
    min-width:20%;
    max-width:100%;
    height:150px;
}
