body {
    margin: 0px;
    background-color: black;
}
video {
    width: 100%;
    height: 100%;
}
#remote {
    position:fixed;
    top:0px;
    left:0px;
    opacity: 0.25;
    z-index: 9001;
}
#remote:hover {
    opacity: 1;
}